<ion-content [fullscreen]="true">
  <ion-row>
    <ion-col size="12">
      <ion-card>
        <ion-card-header>
          <ion-card-title>Registrar nuevo usuario</ion-card-title>
          <ion-card-subtitle>Ingresa tus credenciales</ion-card-subtitle>
        </ion-card-header>

        <ion-card-content>
        
          <form [formGroup] = "registerForm">

            <ion-input
              formControlName="firstName"
              name="firstName" 
              label="Nombre" 
              label-placement="floating" 
              fill="outline" 
              placeholder="Nombre" 
              required>
            </ion-input>
            <br>
            <ion-input 
              formControlName="lastName" 
              name="lastName" 
              label="Apellido" 
              label-placement="floating" 
              fill="outline" 
              placeholder="Apellido" 
              required>
            </ion-input>
            <br>
            
            <ion-input 
              formControlName="email" 
              name="email" 
              label="Email" 
              label-placement="floating" 
              fill="outline" 
              placeholder="Email" 
              required 
              email>
            </ion-input>
            
            <ion-text color="danger" *ngIf="registerForm.get('email')?.invalid && registerForm.get('email')?.touched">
              <small *ngIf="registerForm.get('email')?.hasError('required')">* El correo es obligatorio.</small>
              <small *ngIf="registerForm.get('email')?.hasError('email')">* Formato de correo inválido.</small>
            </ion-text>

            <br>

            <ion-input 
            formControlName="password" 
            label-placement="floating" 
            fill="outline" 
            type="password" 
            label="Contraseña" 
            required 
            minlength="8">
            <ion-input-password-toggle slot="end"></ion-input-password-toggle>
          </ion-input>
            
          <ion-text color="danger" *ngIf="registerForm.get('password')?.invalid && registerForm.get('password')?.touched">
            <small *ngIf="registerForm.get('password')?.hasError('required')">* La contraseña es obligatoria.</small>
            <small *ngIf="registerForm.get('password')?.hasError('minlength')">* La contraseña debe contener al menos 8 caracteres.</small>
          </ion-text>

            <br>

            <ion-input 
              formControlName="repeatPassword" 
              name="repeatPassword" 
              label-placement="floating" 
              fill="outline" 
              type="password" 
              label="Repetir Contraseña" 
              required 
              minlength="8">
              <ion-input-password-toggle slot="end"></ion-input-password-toggle>
            </ion-input> 

            <ion-text color="danger" *ngIf="registerForm.get('repeatPassword')?.value !== registerForm.get('password')?.value && registerForm.get('repeatPassword')?.touched">
              <small>* Las contraseñas no coinciden.</small>
            </ion-text>

            <br>
            <ion-button expand="block" [disabled]="registerForm.invalid || registerForm.get('repeatPassword')?.value !== registerForm.get('password')?.value" type="submit">Completar registro</ion-button>
          </form>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-content>