.container {
    padding-left: 15px;
}

ion-title {
    color: #cccfce;
}

ion-input {
    /* border: solid;
    border-color: #14a88d; */
    max-width: 80%;
    color: #d1d1d1;
}

#backButton {
    margin-left: 70px;
}